In [1]:
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
import os

conf = (SparkConf())
#conf.set("spark.sql.catalog.local","org.apache.iceberg.spark.SparkCatalog")
spark = SparkSession.builder.config(conf=conf).master("spark://node1.dw.felicity.net.bd:7077,node2.dw.felicity.net.bd:7077").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/29 18:51:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/04/29 18:51:04 WARN MetricsConfig: Cannot locate configuration: tried hadoop-metrics2-s3a-file-system.properties,hadoop-metrics2.properties
25/04/29 18:51:05 WARN S3ABlockOutputStream: Application invoked the Syncable API against stream writing to logs/app-20250429185102-0005.inprogress. This is unsupported

In [2]:
spark.sql("select 1")

DataFrame[1: int]

In [5]:
load_ext sparksql_magic

The sparksql_magic extension is already loaded. To reload it, use:
  %reload_ext sparksql_magic

In [ ]:
%%sparksql
CREATE DATABASE local.db

In [7]:
%%sparksql
CREATE TABLE table1 (
    order_id BIGINT,
    customer_id BIGINT,
    order_amount DECIMAL(10, 2),
    order_ts TIMESTAMP
)
USING iceberg
PARTITIONED BY ( hours(order_ts) );

In [9]:
%%sparksql
INSERT INTO table1 VALUES (
    125,
    456,
    36.17,
    TIMESTAMP('2021-01-26 08:10:23')
);

In [10]:
%%sparksql
select * from table1