In [ ]:
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
import os

secret = os.environ.get("SPARK_AUTH_SECRET")
conf = SparkConf()
conf.set("spark.authenticate", "true")
conf.set("spark.driver.extraJavaOptions", f"-Dspark.authenticate.secret={secret}")

spark = SparkSession.builder.config(conf=conf)\
    .master("spark://node1.dw.felicity.net.bd:7077,node2.dw.felicity.net.bd:7077")\
    .getOrCreate()

In [ ]:
spark.sql("select 1")

In [ ]:
load_ext sparksql_magic

In [ ]:
%%sparksql
CREATE TABLE table3 (
    order_id BIGINT
)
USING iceberg;

In [ ]:
%%sparksql
CREATE TABLE table1 (
    order_id BIGINT,
    customer_id BIGINT,
    order_amount DECIMAL(10, 2),
    order_ts TIMESTAMP
)
USING iceberg
PARTITIONED BY ( hours(order_ts) );

In [ ]:
%%sparksql
INSERT INTO table1 VALUES (
    125,
    456,
    36.17,
    TIMESTAMP('2021-01-26 08:10:23')
);

In [ ]:
%%sparksql
select * from table1

In [ ]:
!echo $AWS_ACCESS_KEY_ID